
$primary: #1A129F;
$danger: #FC6681;
$success: #88CB88;
$warning: #FFD037;
$secondary: #7E76F9;
$btn-border-radius: 10rem;
$btn-padding-x: 1.5rem;
$btn-padding-y: 0.5rem;

$theme-colors: (
  "primary": $primary,
  "danger": $danger,
  "success": $success,
  "warning": $warning,
  "secondary": $secondary,
);

@import "../node_modules/bootstrap/scss/bootstrap";