@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;400;700;900&display=swap');

*{
    font-family: 'Roboto', sans-serif;
}

body{
    height: 600vh;
}

.site-nav{
    position: absolute;
    top: 0;
}

.site-logo{
    width: 150px;
}

.home{
    background-image: url(../img/bg-Shape.svg);
    background-repeat: no-repeat;
    background-position: right top;
    background-size: 50%;
}

.about-us{
    background-image: url(../img/bg-2.svg);
    background-size: 100%;
    background-position: center;
}

.about{
    background-color: #7E76F915;
}

.services{
    background-image: url(../img/bg-3.svg);
    background-size: 100%;
    background-position: center;
}

.services-card{
    border: none;
    border-radius: 35px;
}

.services-des{
    height: 150px !important;
}

.services-img{
    height: 90px !important;
}

.pricing{
    background-color: #7E76F915;
}

.slick-width{
    margin: 0 10px !important;
}

.slick-dots{
    display: flex;
    justify-content: center;
    align-items: center;
}

.slick-dots li{
    width: 10px !important;
    height: 10px !important;
    background-color: transparent;
    border: 2px solid #7E76F9;
    border-radius: 50%;
}

.slick-dots li.slick-active{
    width: 15px !important;
    height: 15px !important;
    background-color: #7E76F9;
}


@media screen and (max-width: 576px){
    .content-2-img,.content-2-text{
        width: 100% !important;
    }
}

@media screen and (max-width: 1400px){
    .services-des{
        height: 190px !important;
    }
}